.container {
  padding: 1rem;
  background: rgb(255, 255, 255);
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
  /* width: 50%; */
}
.backdropContainer {
  width: 100%;
  /* max-width: 70%; */
  height: 30vh;
  background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQipLn53F9BBv7qawjSOWfOF_A61oqZW-VcVg&s");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  border-radius: 1.2rem;
}
.backdropContainer img {
  width: 12vw;
  height: 12vw;
  object-fit: cover;
  border-radius: 50%;
  position: absolute;
  bottom: -40%;
  left: 5%;
  border: 5px solid black;
  z-index: 2;
}

.backDrop__overlay {
  width: 12vw;
  height: 12vw;
  border-radius: 50%;
  position: absolute;
  bottom: -40%;
  left: 5%;
  border: 5px solid black;

  z-index: 3;
  opacity: 0;
  transition: 0.4s;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  color: white;
  background: black;
}

.backDrop__overlay:hover {
  opacity: 0.6;
}
.backDrop__overlay p {
  font-size: 1.1rem;
  font-weight: 600;
}

.profileContainer__details {
  padding-top: 6.6rem;
}

.card {
  display: flex;
  align-items: center;
  gap: 1.4rem;
}
.card_profileContainer {
  display: flex;
}

.card_profileContainer > img {
  width: 3.4rem;
  height: auto;
  height: 3.4rem;
  object-fit: cover;
  border-radius: 0.5rem;
  margin: 0.2rem;
}
.connectBtn,
.connectedButton {
  padding-inline: 0.8rem;
  padding-block: 0.3rem;
  background: rgba(3, 93, 183, 0.905);
  outline: none;
  border: none;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.userProfile {
  border-radius: 1rem;
  height: 20%;
  width: fit-content;
}

.workHistory {
}
.workHistoryContainer {
  display: flex;
  gap: 1.4rem;
  padding-top: 1.4rem;
  width: 100%;
  flex-wrap: wrap;
}

.workHistoryCard {
  min-width: fit-content;
  padding-inline: 2.5rem;
  padding-block: 1rem;
  border-radius: 10px;
  box-shadow: 10px 10px 15px rgb(173, 173, 173);
}

.profileContainer__details input {
  outline: none;
  width: fit-content;
  border-style: none;
  padding-inline: 10px;
  padding-block: 9px;
}
.nameEdit {
  font-size: 1.5rem;
  font-weight: bold;
}

.profileContainer__details textarea{
      outline: none;
  border: none;
  padding-inline: 10px;
  padding-block: 9px;
  font-family: "poppins" !important;
  font-size: 1.1rem;
}
.updateBtn{
       padding-inline: 0.8rem;
  padding-block: 0.3rem;
  background: rgba(3, 93, 183, 0.905);
  outline: none;
  border: none;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  width: fit-content;
}

.addWorkBtn{
      padding-inline: 1.3rem;
      background: white;
      border: 1px dotted silver;
      border-radius: 10px;
      padding-block: 1.2rem;
      cursor: pointer;
}

.commentsContainer {
  position: fixed;
  inset: 0;
  z-index: 10;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.allCommentsContainer {
  width: 40vw;
  height: fit-content;
  background: #fff;
  border-radius: 12px;
  position: relative;
  padding: 1.4rem;
  display: flex;
  flex-direction: column;
  gap: 1.3rem;

}
.inputField {
  padding-inline: 1.3rem;
  padding-block: 0.8rem;
  outline: none;
  border-radius: 10px;
  border: 1px solid silver;
  width: 100%;
  
}