.container{
      padding: 1.2rem;

}

.navbar{
      display: flex;
      align-items: center;
      justify-content: space-between;
}

.navbarOptionContainer{
      display: flex;
}

.buttonJoin{
      width: fit-content;
      cursor: pointer;
      user-select: none;
      transition: all 0.2s;
      margin-top: 0.8rem;
      font-size: 1.4rem;
      background: #CD8987;
      color: white;
      padding-inline: 1.2rem;
      padding-block: 0.6rem;
      border-radius: 18px;
}