.allUserProfile{
      max-width: 80%;
      /* align-items: center; */
      display: flex;
      flex-direction: column;
      gap: 1.2rem;
}


.userCard{
      display: flex;
      gap: 1.2rem;
      padding: 1.3rem;
      align-items: center;
      cursor: pointer;
      box-shadow: 10px 10px 10px 0 rgba(0, 0, 0, 0.1);
}

.userCard_image{
      width: 15%;
      height: 6rem;
      border-radius: 50%;
}