.container {
  padding: 1rem;
  background: rgb(255, 255, 255);
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
}
.backdropContainer {
  width: 100%;
  height: 30vh;
  background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQipLn53F9BBv7qawjSOWfOF_A61oqZW-VcVg&s");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  border-radius: 1.2rem;
}
.backdropContainer img {
  width: 12vw;
  height: 12vw;
  object-fit: cover;
  border-radius: 50%;
  position: absolute;
  bottom: -40%;
  text-align: center;
  left: 5%;
  border: 2px solid black;
}
.profileContainer__details {
  padding-top: 6.6rem;
}

.card {
  display: flex;
  align-items: center;
  gap: 1.4rem;
}
.card_profileContainer {
  display: flex;
}
.card_profileContainer > img {
  width: 3.4rem;
  height: auto;
  height: 3.4rem;
  object-fit: cover;
  border-radius: 0.5rem;
  margin: 0.2rem;
}
.connectBtn,
.connectedButton {
  padding-inline: 0.8rem;
  padding-block: 0.3rem;
  background: rgba(3, 93, 183, 0.905);
  outline: none;
  border: none;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.workHistory{}
.workHistoryContainer{
      display: flex;
      gap: 1.4rem;
      padding-top: 1.4rem;
      width: 100%;
      flex-wrap: wrap;
}

.workHistoryCard{
      min-width: fit-content;
      padding-inline:2.5rem;
      padding-block: 1rem;
      border-radius: 10px;
      box-shadow: 10px 10px 15px rgb(173, 173, 173);
}
.profileContainer_flex{
      display: flex;
       gap: 0.7rem; 
}
@media only screen  and (max-width:600px){
  .profileContainer_flex{
        flex-direction: column;
  }
}